body{
  font-family: verdana;
}
h1{
  text-align: center;
  background: #f5f4f1;
  color: #444444;
  margin-bottom: 0;
  padding: 12px;
  display: block;
  border: 1px #dddddd solid;
  border-bottom: none;
  min-width: 400px;
  font-size: 15pt;

}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #444444;
  display: block;
  border: 1px #dddddd solid;
  border-bottom: none;
  padding: 6.5px 10px;
  font-size: 15pt;
}
a.bord{
  border-bottom: 1px #dddddd solid;;
}
a:hover{
  background-color: #71387c;
  color: #ffffff;
}